body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.theme--light {
  .v-pagination .v-pagination__item--active {
    background: #000000 !important;
  }

  .v-input--is-focused {
    fieldset {
      border-color: #000000 !important;
    }
    .v-label,
    .v-icon {
      color: #000000 !important;
    }
  }
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 28px !important;
  color: #000000;
}

.caption {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #787878;
}